[submodule "deps/Brick"]
	path = deps/Brick
	url = https://github.com/gress2/Brick.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/dlib"]
	path = deps/dlib
	url = https://github.com/davisking/dlib.git
